@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@mixin h3_style() {
  h3 {
    text-transform: capitalize;
    margin-bottom: 40px;
    padding: 50px 0;
    font-size: 36px;
    line-height: 29px;
    font-weight: 700;
    color: #222;
    text-align: center;

    .blue_char {
      color: #716fff;
    }

    .lowercase {
      text-transform: lowercase;
    }
  }
}

@mixin section_style(){
  width: 100%;
  margin: 0 auto;
}
@mixin container_style() {
  width: 100%;
  margin: 0 auto;

}

@mixin resume_style() {
  max-width: 650px;

  h4 {
    margin-bottom: 50px;
    font-size: 23px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Poppins, sans-serif";
    color: #333;
    text-align: center;
  }

  .timeline {
    padding: 20px;

    .timeline-item {
      margin: 0 0 48px 0;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
      background: #fff;
      box-sizing: border-box;

      .time-info {
        margin-top: -40px;
        margin-bottom: 30px;

        .time {
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 2px;
          text-transform: uppercase;
          padding: 10px 15px;
          background: #fff;
          border-radius: 30px;
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
        }
      }

      .time-content {
        h5 {
          margin-top: 15px;
          color: #ff6f91;
          font-size: 18px;
          line-height: 22px;
          font-weight: 500;

          .sub {
            margin-left: 15px;
            color: #777;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@mixin button_style() {
  background-color: transparent;
  border: none;
  cursor: pointer;

  .text {
    position: relative;
    font-family: "Poppins, sans-serif";
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    border-right: 1px solid transparent;
    border-radius: 30px;
    margin-right: 50px;
  }

  .text::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    left: -10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #f5f5f5;
    border-radius: 30px;
    z-index: -1;
  }

  .text::after {
    content: "";
    width: 20px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 50%;
    right: -60%;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 17px;
  color: #777;
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  background-image: url(./img/main-bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(247, 247, 247, 0.9);
  overflow-x: hidden;
  background-blend-mode: overlay;
  padding: 20px;
  .nav{
    .nav-button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: fixed;
    top: 100px;
    right: 100px;
    background-color: #07091c;
    opacity: 0.7;
    a{
      display: block;
      width: 100%;
      height: 100%;
      position:relative;
      .line1{
        // max-width: ;
        width: 60%;
        height: 1px;
        border: 1px solid white;
        background-color: white;
        position: absolute;
        top:15px;
        left: 10px
      }
      .line2{
        width: 40%;
        height: 1px;
        border: 1px solid white;
        background-color: white;
        position: absolute;
        top:25px;
        left: 20px
      }
      .line3{
        width: 60%;
        height: 1px;
        border: 1px solid white;
        background-color: white;
        position: absolute;
        top:35px;
        left: 10px
      }
    }
    }
    .nav-list-container{
      height: 100%;
      width: 250px;
      position: fixed;
      right: -250px;;
      top:0;
      background-color: #07091c;
      display: block;
      transition: all 1s;
      .nav-list{
        display: flex;
        justify-content: center;
        margin-top: 300px;
        font-size: 30px;
        color: white;
        ul{
          li{
            display: block;
            margin-bottom: 20px;
            a{
              text-decoration: none;
              color: white
            }
          }
        }
      }
    }
    a:hover .nav-list-container{
      display: block;
    }
  }
  .nav-button:hover .nav-list-container{
    right:0;
  }
  .basic-info {
    @include section_style;
    .container {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      padding: 12px;
      flex-wrap: wrap;
      width: 100%;

      .basic-info__introduction {
        max-width: 300px;
        text-align: right;
        @include h3_style;

        h1 {
          display: block;
          text-align: right;
          z-index: 5;
          position: relative;
          left: 120px;
          top: -80px;
          text-transform: capitalize;
          margin-bottom: 40px;
          padding: 50px 0;
          font-size: 36px;
          line-height: 29px;
          font-weight: 700;
          color: #222;
          text-align: center;

          .blue_char {
            color: #716fff;
          }

          .lowercase {
            text-transform: lowercase;
          }
        }

        p {
          margin-bottom: 30px;
          text-align: right;
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          display: block;
          margin-right: 20px;
          margin-top: -130px;
        }

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;

          .text {
            position: relative;
            font-family: "Poppins, sans-serif";
            font-size: 14px;
            line-height: 22px;
            font-weight: 500;
            border-right: 1px solid transparent;
            border-radius: 30px;
            margin-right: 50px;
          }

          .text::before {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: -9px;
            left: -10px;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            border-right: 1px solid #f5f5f5;
            border-radius: 30px;
            z-index: -1;
          }

          .text::after {
            content: "";
            width: 20px;
            height: 1px;
            background-color: #000;
            position: absolute;
            top: 50%;
            right: -30%;
          }
        }
      }

      .basic-info__photo {
        max-width: 300px;

        img {
          width: 100%;
          position: relative;
          transition: all 1s;
          z-index: 0;
        }
        img:hover{
          z-index: 999;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
        }
      }

      .basic-info__position {
        display: flex;
        align-items: flex-end;
        padding: 10px;

        p {
          font-size: 36px;
          line-height: 42px;
          color: #222;
          position: relative;
        }

        p::after {
          content: "";
          width: 105px;
          height: 7px;
          background-color: #ff6f91;
          position: absolute;
          bottom: -10px;
          left: 0;
        }
      }
    }

    .scroll-down {
      height: 70px;
      width: 70px;
      margin: 70px auto;
      a{
        i{
          color: #000
        }
      }
    }
  }

  .about {
    @include section_style;

    .container {
      @include container_style;

      .about-title {
        @include h3_style;
        text-align: center;
      }

      .about-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .about-content__details {
          max-width: 600px;

          .about-content__details--description {
            margin: 30px 0;

            h4 {
              margin-bottom: 30px;
              font-size: 19px;
              line-height: 28px;
              font-weight: 700;
              font-family: "Poppins, sans-serif";
              color: #333;
            }
          }

          .about-content__details--content {
            padding: 30px;

            ul {
              li {
                border: 1px;
                padding: 15px;
                color: #555;
                border-bottom: 1px dashed #dfdfdf;

                .title {
                  min-width: 110px;
                  display: inline-flex;
                  color: #333;
                  font-weight: 600;
                  position: relative;
                }

                b {
                  margin-right: 10px;
                  color: #333;
                  font-weight: 600;
                  position: absolute;
                  right: 0;
                }
              }

              li:first-child {
                border-top: 1px dashed #dfdfdf;
              }
            }
          }
        }

        .about-content__skills {
          max-width: 600px;

          .about-content__skills--list {
            display: grid;
            grid-template-columns: repeat(12, minmax(auto, 60px));
            grid-gap: 40px;
            padding: 20px;

            .skill {
              grid-column-start: span 6;
              padding: 10px;
              background-color: #fff;
              border-radius: 15px;
              box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);

              h3 {
                text-align: center;
                color: #333;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }

  .resume {
    @include section_style;
    .container {
      @include container_style;

      .resume-title {
        @include h3_style;
      }

      .resume-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .resume-content__eductions {
          @include resume_style;
        }

        .resume-content__experiences {
          @include resume_style;
        }
      }
    }
  }

  .services {
    @include section_style;
    .container {
      @include container_style;
      .services-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .service {
          height: 300px;
          width: 300px;
          .service_flip {
            height: 100%;
            width: 100%;
            position: relative;
            transition: all 2s;
            transform-style: preserve-3d;
            transform-origin: center center;
            .flip_card--front {
              background-color: #fff;
              position: absolute;
              top: 0;
              left: 0;
              backface-visibility: hidden;
              border-radius: 15px;
              text-align: center;
              padding: 20px;
              margin-right: 20px;
              .icon {
                margin-bottom: 20px;
              }
              .service-content {
                h3 {
                  margin-bottom: 15px;
                  color: #333;
                  text-align: center;
                  font-size: 20px;
                  line-height: 26px;
                  font-weight: 600;
                }

                p {
                  margin: 0;
                  color: #555;
                  text-align: center;
                  font-size: 17px;
                  line-height: 22px;
                }
              }
            }
            .flip_card--back {
              background-color: blueviolet;
              position: absolute;
              top: 0;
              left: 0;
              backface-visibility: hidden;
              transform: rotateY(180deg);
              text-align: center;
              padding: 20px;
              border-radius: 15px;
              .service-content {
                h3 {
                  margin-bottom: 15px;
                  color: #fff;
                  text-align: center;
                  font-size: 20px;
                  line-height: 26px;
                  font-weight: 600;
                }

                p {
                  margin: 0;
                  color: #fff;
                  text-align: center;
                  font-size: 17px;
                  line-height: 22px;
                }
              }
              .readmore{
                display: inline-flex;
                background-color: blueviolet;
                width: 100px;
                height: 30px;
                border-radius: 15px;
                align-items: center;
                justify-content: center;
                border: 1px solid white;
                margin: 10px 0;
                a{
                  color: #FFF;
                }

              }
            }
          }
        }
        .service:hover .service_flip{
          transform: rotateY(180deg);
        }
      }
    }
  }

  .projects {
    @include section_style;
    .container {
      @include container_style;

      .project-title {
        @include h3_style;
      }

      .projects-nav {
        ul {
          display: flex;
          justify-content: center;

          li {
            text-transform: uppercase;
            font-size: 16px;
            line-height: 11px;
            cursor: pointer;
            padding: 0 10px;
            margin: 0px 10px;
            font-weight: 600;

            button {
              background-color: transparent;
              border: none;
              cursor: pointer;
            }
          }
        }
      }

      .project-show {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;

        .project {
          max-width: 600px;
          margin: 30px 30px;
          padding: 30px;
          position: relative;
          cursor: default;
          border-radius: 15px;
          background: #fff;
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);

          .project-content {
            h4 {
              color: #333;
              margin-top: 0;
              font-size: 20px;
              font-weight: 600;
            }

            .project-content__link {
              margin-bottom: 10px;
              color: #999;

              a {
                font-size: 14px;
                color: #999;
                font-weight: 300;
              }
            }

            p {
              font-size: 14px;
              line-height: 26px;
              color: #555;
            }
          }

          .project-summary {
            margin: 20px;
            display: flex;

            .project-summary__logo {
              width: 200px;
              overflow: hidden;
              border-radius: 15px;
              box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
              margin-right: 30px;

              img {
                height: 100%;
                width: 100%;
                background-size: 200px;
                background-position: center;
                background-attachment: fixed;
                background-repeat: no-repeat;
              }
            }

            .project-summary__info {
              ul {
                li {
                  margin-bottom: 10px;

                  a {
                    color: #999;
                    font-weight: 300;
                  }
                }
              }
            }
          }
        }
      }

      .project-data {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .project-data__contents {
          min-width: 200px;
          margin: 30px 30px;
          padding: 50px;
          cursor: default;
          border-radius: 15px;
          background: #fff;
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
          text-align: center;

          .number {
            font-size: 50px;
            line-height: 55px;
            font-weight: 700;
            color: #555;
          }

          .tags {
            font-size: 18px;
            color: #555;
            font-weight: 400;
          }
        }
      }
    }
  }

  .news {
    @include section_style;
    .container {
      @include container_style;

      .news-title {
        @include h3_style;
      }

      .news-list {
        padding: 15px;
        margin-bottom: 30px;
        padding: 30px;
        border-radius: 15px;
        background: #fff;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
        font-size: 60px;
        color: #bfa;
        text-align: center;
      }
    }
  }

  .contact {
    @include section_style;
    .container {
      @include container_style;
      .contact-title {
        @include h3_style;
      }

      .contact-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .contact-info {
          min-width: 500px;
          margin: 0 30px;
          .contact-info__content {
            display: flex;
            width: 100%;
            margin-bottom: 30px;
            border-radius: 15px;
            background: #fff;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
            padding: 20px;
            align-items: center;
            .contact-info__content--logo {
              margin-right: 20px;
            }
            .contact-info__content--details {
              h4 {
                margin-bottom: 10px;
              }
              p {
                margin: 10px;
              }
            }
          }
        }

        .customer-info {
          max-width: 700px;
          margin-left: 90px;
          form {
            input {
              width: 100%;
              padding: 15px;
              border-color: #dfdfdf;
              border-radius: 15px;
              font-size: 15px;
              color: #555;
              margin-bottom: 30px;
            }
            textarea {
              width: 100%;
            }
            button {
              @include button_style;
              margin-top: 40px;
            }
          }
        }
      }
    }
  }
  .foot {
    @include section_style;
    margin-top: 100px;
    margin-bottom: 200px;
    .container {
      @include container_style;
      display: flex;
      justify-content: center;
      .foot-content {
        border-radius: 15px;
        padding: 10px;
        background: #fff;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
        margin: 30px 30px;
      }
    }
  }
  .footer {
    @include section_style;
    .container {
      height: 100px;
      background: #07091c;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
      .copyright {
        color: white;
      }
      .social_logo {
        ul {
          display: flex;
          li {
            margin: 0 10px;
          }
        }
      }
    }
  }
}
