* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 17px;
  color: #777;
  font-family: "Poppins, sans-serif";
  font-weight: 400;
  background-image: url(./img/main-bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(247, 247, 247, 0.9);
  overflow-x: hidden;
  background-blend-mode: overlay;
  padding: 20px;
}

body .basic-info .container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 12px;
  flex-wrap: wrap;
}

body .basic-info .container .basic-info__introduction {
  max-width: 300px;
  text-align: right;
}

body .basic-info .container .basic-info__introduction h3 {
  text-transform: capitalize;
  margin-bottom: 40px;
  padding: 50px 0;
  font-size: 36px;
  line-height: 29px;
  font-weight: 700;
  color: #222;
  text-align: center;
}

body .basic-info .container .basic-info__introduction h3 .blue_char {
  color: #716fff;
}

body .basic-info .container .basic-info__introduction h3 .lowercase {
  text-transform: lowercase;
}

body .basic-info .container .basic-info__introduction h1 {
  display: block;
  text-align: right;
  z-index: 5;
  position: relative;
  left: 80px;
  top: -80px;
  text-transform: capitalize;
  margin-bottom: 40px;
  padding: 50px 0;
  font-size: 36px;
  line-height: 29px;
  font-weight: 700;
  color: #222;
  text-align: center;
}

body .basic-info .container .basic-info__introduction h1 .blue_char {
  color: #716fff;
}

body .basic-info .container .basic-info__introduction h1 .lowercase {
  text-transform: lowercase;
}

body .basic-info .container .basic-info__introduction p {
  margin-bottom: 30px;
  text-align: right;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  display: block;
  margin-right: 20px;
  margin-top: -130px;
}

body .basic-info .container .basic-info__introduction button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body .basic-info .container .basic-info__introduction button .text {
  position: relative;
  font-family: "Poppins, sans-serif";
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  border-right: 1px solid transparent;
  border-radius: 30px;
  margin-right: 50px;
}

body .basic-info .container .basic-info__introduction button .text::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -9px;
  left: -10px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #f5f5f5;
  border-radius: 30px;
  z-index: -1;
}

body .basic-info .container .basic-info__introduction button .text::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: -30%;
}

body .basic-info .container .basic-info__photo {
  max-width: 300px;
}

body .basic-info .container .basic-info__photo img {
  width: 100%;
  filter: grayscale(100%);
}

body .basic-info .container .basic-info__position {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

body .basic-info .container .basic-info__position p {
  font-size: 36px;
  line-height: 42px;
  color: #222;
  position: relative;
}

body .basic-info .container .basic-info__position p::after {
  content: "";
  width: 105px;
  height: 7px;
  background-color: #ff6f91;
  position: absolute;
  bottom: -10px;
  left: 0;
}

body .basic-info .scroll-down {
  height: 70px;
  width: 70px;
  margin: 70px auto;
}

body .about {
  padding: 80px 0;
  width: 100%;
}

body .about .container {
  width: 100%;
  margin: 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

body .about .container .about-title {
  text-align: center;
}

body .about .container .about-title h3 {
  text-transform: capitalize;
  margin-bottom: 40px;
  padding: 50px 0;
  font-size: 36px;
  line-height: 29px;
  font-weight: 700;
  color: #222;
  text-align: center;
}

body .about .container .about-title h3 .blue_char {
  color: #716fff;
}

body .about .container .about-title h3 .lowercase {
  text-transform: lowercase;
}

body .about .container .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body .about .container .about-content .about-content__details {
  max-width: 600px;
}

body .about .container .about-content .about-content__details .about-content__details--description {
  margin: 30px 0;
}

body .about .container .about-content .about-content__details .about-content__details--description h4 {
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 28px;
  font-weight: 700;
  font-family: "Poppins, sans-serif";
  color: #333;
}

body .about .container .about-content .about-content__details .about-content__details--content {
  padding: 30px;
}

body .about .container .about-content .about-content__details .about-content__details--content ul li {
  border: 1px;
  padding: 15px;
  color: #555;
  border-bottom: 1px dashed #dfdfdf;
}

body .about .container .about-content .about-content__details .about-content__details--content ul li .title {
  min-width: 110px;
  display: inline-flex;
  color: #333;
  font-weight: 600;
  position: relative;
}

body .about .container .about-content .about-content__details .about-content__details--content ul li b {
  margin-right: 10px;
  color: #333;
  font-weight: 600;
  position: absolute;
  right: 0;
}

body .about .container .about-content .about-content__details .about-content__details--content ul li:first-child {
  border-top: 1px dashed #dfdfdf;
}

body .about .container .about-content .about-content__skills {
  max-width: 600px;
}

body .about .container .about-content .about-content__skills .about-content__skills--list {
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
  padding: 20px;
}

body .about .container .about-content .about-content__skills .about-content__skills--list .skill {
  grid-column-start: span 6;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
}

body .about .container .about-content .about-content__skills .about-content__skills--list .skill h3 {
  text-align: center;
  color: #333;
  font-size: 20px;
}

body .resume .container {
  width: 100%;
  margin: 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

body .resume .container .resume-title h3 {
  text-transform: capitalize;
  margin-bottom: 40px;
  padding: 50px 0;
  font-size: 36px;
  line-height: 29px;
  font-weight: 700;
  color: #222;
  text-align: center;
}

body .resume .container .resume-title h3 .blue_char {
  color: #716fff;
}

body .resume .container .resume-title h3 .lowercase {
  text-transform: lowercase;
}

body .resume .container .resume-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body .resume .container .resume-content .resume-content__eductions {
  max-width: 650px;
}

body .resume .container .resume-content .resume-content__eductions h4 {
  margin-bottom: 50px;
  font-size: 23px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Poppins, sans-serif";
  color: #333;
  text-align: center;
}

body .resume .container .resume-content .resume-content__eductions .timeline {
  padding: 20px;
}

body .resume .container .resume-content .resume-content__eductions .timeline .timeline-item {
  margin: 0 0 48px 0;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  box-sizing: border-box;
}

body .resume .container .resume-content .resume-content__eductions .timeline .timeline-item .time-info {
  margin-top: -40px;
  margin-bottom: 30px;
}

body .resume .container .resume-content .resume-content__eductions .timeline .timeline-item .time-info .time {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 15px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
}

body .resume .container .resume-content .resume-content__eductions .timeline .timeline-item .time-content h5 {
  margin-top: 15px;
  color: #ff6f91;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

body .resume .container .resume-content .resume-content__eductions .timeline .timeline-item .time-content h5 .sub {
  margin-left: 15px;
  color: #777;
  font-size: 14px;
}

body .resume .container .resume-content .resume-content__experiences {
  max-width: 650px;
}

body .resume .container .resume-content .resume-content__experiences h4 {
  margin-bottom: 50px;
  font-size: 23px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Poppins, sans-serif";
  color: #333;
  text-align: center;
}

body .resume .container .resume-content .resume-content__experiences .timeline {
  padding: 20px;
}

body .resume .container .resume-content .resume-content__experiences .timeline .timeline-item {
  margin: 0 0 48px 0;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  box-sizing: border-box;
}

body .resume .container .resume-content .resume-content__experiences .timeline .timeline-item .time-info {
  margin-top: -40px;
  margin-bottom: 30px;
}

body .resume .container .resume-content .resume-content__experiences .timeline .timeline-item .time-info .time {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 15px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
}

body .resume .container .resume-content .resume-content__experiences .timeline .timeline-item .time-content h5 {
  margin-top: 15px;
  color: #ff6f91;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

body .resume .container .resume-content .resume-content__experiences .timeline .timeline-item .time-content h5 .sub {
  margin-left: 15px;
  color: #777;
  font-size: 14px;
}

body .services {
  margin-bottom: 200px;
}

body .services .container {
  width: 100%;
  margin: 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

body .services .container .services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body .services .container .services-list .service {
  position: relative;
  min-width: 250px;
  max-width: 300px;
}

body .services .container .services-list .service .front {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
  backface-visibility: hidden;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  margin-right: 20px;
  position: absolute;
  transition: transform 0.5s;
}

body .services .container .services-list .service .front .icon {
  margin-bottom: 20px;
}

body .services .container .services-list .service .front .service-content h3 {
  margin-bottom: 15px;
  color: #333;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

body .services .container .services-list .service .front .service-content p {
  margin: 0;
  color: #555;
  text-align: center;
  font-size: 17px;
  line-height: 22px;
}

body .services .container .services-list .service .back {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.06);
  backface-visibility: hidden;
  background-color: blueviolet;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  margin-right: 20px;
  position: absolute;
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

body .services .container .services-list .service .back .service-content h3 {
  margin-bottom: 15px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

body .services .container .services-list .service .back .service-content p {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 17px;
  line-height: 22px;
}

body .services .container .services-list .service .readmore a {
  display: block;
  width: 100px;
  height: 30px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

body .services .container .services-list .service:hover .front {
  transform: rotateY(180deg);
}

body .services .container .services-list .service:hover .back {
  transform: rotateY(0deg);
}

body .projects .container {
  width: 100%;
  margin: 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

body .projects .container .project-title h3 {
  text-transform: capitalize;
  margin-bottom: 40px;
  padding: 50px 0;
  font-size: 36px;
  line-height: 29px;
  font-weight: 700;
  color: #222;
  text-align: center;
}

body .projects .container .project-title h3 .blue_char {
  color: #716fff;
}

body .projects .container .project-title h3 .lowercase {
  text-transform: lowercase;
}

body .projects .container .projects-nav ul {
  display: flex;
  justify-content: center;
}

body .projects .container .projects-nav ul li {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 11px;
  cursor: pointer;
  padding: 0 10px;
  margin: 0px 10px;
  font-weight: 600;
}

body .projects .container .projects-nav ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body .projects .container .project-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

body .projects .container .project-show .project {
  max-width: 600px;
  margin: 30px 30px;
  padding: 30px;
  position: relative;
  cursor: default;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
}

body .projects .container .project-show .project .project-content h4 {
  color: #333;
  margin-top: 0;
  font-size: 20px;
  font-weight: 600;
}

body .projects .container .project-show .project .project-content .project-content__link {
  margin-bottom: 10px;
  color: #999;
}

body .projects .container .project-show .project .project-content .project-content__link a {
  font-size: 14px;
  color: #999;
  font-weight: 300;
}

body .projects .container .project-show .project .project-content p {
  font-size: 14px;
  line-height: 26px;
  color: #555;
}

body .projects .container .project-show .project .project-summary {
  margin: 20px;
  display: flex;
}

body .projects .container .project-show .project .project-summary .project-summary__logo {
  width: 200px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
  margin-right: 30px;
}

body .projects .container .project-show .project .project-summary .project-summary__logo img {
  height: 100%;
  width: 100%;
  background-size: 200px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body .projects .container .project-show .project .project-summary .project-summary__info ul li {
  margin-bottom: 10px;
}

body .projects .container .project-show .project .project-summary .project-summary__info ul li a {
  color: #999;
  font-weight: 300;
}

body .projects .container .project-data {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body .projects .container .project-data .project-data__contents {
  min-width: 200px;
  margin: 30px 30px;
  padding: 50px;
  cursor: default;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
  text-align: center;
}

body .projects .container .project-data .project-data__contents .number {
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  color: #555;
}

body .projects .container .project-data .project-data__contents .tags {
  font-size: 18px;
  color: #555;
  font-weight: 400;
}

body .news {
  width: 100%;
  margin: 0 auto;
}

body .news .container {
  width: 100%;
  margin: 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

body .news .container .news-title h3 {
  text-transform: capitalize;
  margin-bottom: 40px;
  padding: 50px 0;
  font-size: 36px;
  line-height: 29px;
  font-weight: 700;
  color: #222;
  text-align: center;
}

body .news .container .news-title h3 .blue_char {
  color: #716fff;
}

body .news .container .news-title h3 .lowercase {
  text-transform: lowercase;
}

body .news .container .news-list {
  padding: 15px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
  font-size: 60px;
  color: #bfa;
  text-align: center;
}

body .contact .container {
  width: 100%;
  margin: 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

body .contact .container .contact-title h3 {
  text-transform: capitalize;
  margin-bottom: 40px;
  padding: 50px 0;
  font-size: 36px;
  line-height: 29px;
  font-weight: 700;
  color: #222;
  text-align: center;
}

body .contact .container .contact-title h3 .blue_char {
  color: #716fff;
}

body .contact .container .contact-title h3 .lowercase {
  text-transform: lowercase;
}

body .contact .container .contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body .contact .container .contact-content .contact-info {
  min-width: 500px;
  margin: 0 30px;
}

body .contact .container .contact-content .contact-info .contact-info__content {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
  padding: 20px;
  align-items: center;
}

body .contact .container .contact-content .contact-info .contact-info__content .contact-info__content--logo {
  margin-right: 20px;
}

body .contact .container .contact-content .contact-info .contact-info__content .contact-info__content--details h4 {
  margin-bottom: 10px;
}

body .contact .container .contact-content .contact-info .contact-info__content .contact-info__content--details p {
  margin: 10px;
}

body .contact .container .contact-content .customer-info {
  max-width: 700px;
  margin-left: 90px;
}

body .contact .container .contact-content .customer-info form input {
  width: 100%;
  padding: 15px;
  border-color: #dfdfdf;
  border-radius: 15px;
  font-size: 15px;
  color: #555;
  margin-bottom: 30px;
}

body .contact .container .contact-content .customer-info form textarea {
  width: 100%;
}

body .contact .container .contact-content .customer-info form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 40px;
}

body .contact .container .contact-content .customer-info form button .text {
  position: relative;
  font-family: "Poppins, sans-serif";
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  border-right: 1px solid transparent;
  border-radius: 30px;
  margin-right: 50px;
}

body .contact .container .contact-content .customer-info form button .text::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  left: -10px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #f5f5f5;
  border-radius: 30px;
  z-index: -1;
}

body .contact .container .contact-content .customer-info form button .text::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: -60%;
}

body .foot {
  margin-top: 100px;
  margin-bottom: 200px;
}

body .foot .container {
  width: 100%;
  margin: 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  justify-content: center;
}

body .foot .container .foot-content {
  border-radius: 15px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
  margin: 30px 30px;
}

body .footer .container {
  height: 100px;
  background: #07091c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

body .footer .container .copyright {
  color: white;
}

body .footer .container .social_logo ul {
  display: flex;
}

body .footer .container .social_logo ul li {
  margin: 0 10px;
}
