body {
  margin: 0;
  padding: 0;
}

.alert-info {
  color: #666;
  background-color: #555;
}

body {
  background-color: green;
}

ul {
  font-size: 16px;
}

ul li {
  list-style: none;
}

.alertWarning {
  color: #000;
}

.alertWarning a {
  color: pink;
}

div.box {
  background-color: #555;
}

h1.pageHeader {
  border: 1px solid #666;
}

h2.pageHeader {
  border: 1px solid #555;
}

.nav {
  height: 100px;
}

.nav ul {
  margin: 0;
}

.nav ul li {
  padding: 5px;
}

.nav ul li a {
  display: block;
  color: black;
}

.nav ul li a:hover {
  background-color: 0;
}

.button, .button-info {
  padding: 15px;
  width: 100px;
  height: 200px;
}

.button-info {
  background-color: yellow;
}

h3 {
  color: #999;
}

.cat-icon {
  background-image: url("/images/cat.png");
}

.dog-icon {
  background-image: url("/images/dog.png");
}

.pig-icon {
  background-image: url("/images/pig.png");
}
