.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 200px;
  width: 300px;
  margin: 10px;
  perspective: 1000px;
}

.card-inner {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card-front {
  background-color: #f00;
}

.card-back {
  background-color: #0f0;
  transform: rotateY(180deg);
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-inner {
  transform-origin: center center;
}
